li {
    list-style: none;
    margin-bottom: 1em;
}

.nav {
    text-decoration: none;
    color: #E079C0;
}
.nav:active, .nav:hover {
    text-decoration: underline;
}
.nav:visited {
    color: #B2E079;
}