h1 {
    text-align: center;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btn-49 {
  width: 3em;
  height: 3em;
  margin: 0.5em;
}

#switch {
  width: 5em;
  height: 5em;
}