body {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.container {
  width: 90vw;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

button {
  width: 3em;
  height: 3em;
  margin: 0.5em;
}

#switch {
  width: 5em;
  height: 5em;
}